{# _breadcrumb #}
<div class="navbar">
<div class="navbar-inner">
    <div class="container">
        <a class="brand" href="{{ app.request.basePath }}/"><span></span>Log debug Center</a>
    </div>
</div>
</div>